/*
    Combination of http://meyerweb.com/eric/tools/css/reset/, http://ru.html5boilerplate.com and personal experience
    by Robert Haritonov http://rhr.me/rreset
*/

html,
body,
div,
span,
ul,
li,
p,
applet,
object,
iframe,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
data,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  border: 0;
}

nav ul,
nav ol {
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  line-height: 1.231;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */

a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */

img {
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Forms
   ========================================================================== */

form {
  margin: 0;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */

label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend {
  padding: 0;
  *margin-left: -7px;
  border: 0;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button,
input {
  *overflow: visible;
  line-height: normal;
}

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button,
table input {
  *overflow: auto;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* =============================================================================
   Tables
   ========================================================================== */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

/* Global Less variables
-------------------------------------------------- */

/* main block border, shadow */

/* footer */

/* /Global Less variables */

/* Mobile first */

html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000000;
  background: #F0F0F0;
}

.icon-font {
  font-family: 'fontello';
}

@media all and (min-width: 990px) {
  .custom-font {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  }
}

#ga_target,
#tumblr_controls {
  display: none;
}

a {
  color: #355ba6;
  text-decoration: underline;
}

a:hover {
  color: #ff6d33;
  text-decoration: none;
}

@media all and (min-width: 990px) {
  .l-twitter,
  .l-rss,
  .l-archive {
    text-decoration: none !important;
  }
  .l-twitter:after,
  .l-rss:after,
  .l-archive:after {
    position: relative;
    top: -0.2em;
    margin-left: .5em;
    font-family: 'fontello';
    font-size: .8em;
    color: #999999;
  }
  .l-twitter:hover:after,
  .l-rss:hover:after,
  .l-archive:hover:after {
    color: #666666;
  }
  .l-twitter:hover span,
  .l-rss:hover span,
  .l-archive:hover span {
    text-decoration: underline;
  }
  .l-archive:after {
    content: "✒";
  }
  .l-rss:after {
    font-size: .7em;
    content: "";
  }
  .l-twitter:after {
    content: "";
  }
  .l-source {
    position: absolute;
    right: 0;
    bottom: 100%;
    margin: .3em;
    font-family: 'fontello';
    font-size: 20px;
    text-decoration: none;
  }
  .l-source span {
    display: none;
  }
  .l-source:before {
    display: block;
    color: #999999;
    text-indent: 0;
    content: "";
  }
  .l-source:hover:before {
    color: #000000;
  }
}

#wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

@media all and (min-width: 990px) {
  #wrapper {
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
  }
}

.header a {
  text-decoration: none;
}

.header_description {
  margin-bottom: 10px;
  margin-left: 20px;
  color: #999999;
}

@media all and (min-width: 990px) {
  .header {
    position: relative;
    height: 65px;
    padding-top: 20px;
    margin-right: 200px;
    margin-bottom: 10px;
  }
  .header_description {
    position: absolute;
    top: 20px;
    right: 0;
    margin-bottom: 0;
  }
}

.logo {
  display: inline-block;
  *display: inline;
  margin-left: 20px;
  font-size: 40px;
  font-weight: 700;
  color: #000000;
  *zoom: 1;
}

@media all and (min-width: 990px) {
  .logo {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  }
}

.logo:hover {
  color: #29467f;
}

@media all and (min-width: 990px) {
  .logo {
    position: relative;
    top: 26px;
    margin-left: 60px;
    font-size: 60px;
    -webkit-animation: logo-anim 1s ease;
       -moz-animation: logo-anim 1s ease;
         -o-animation: logo-anim 1s ease;
            animation: logo-anim 1s ease;
    -webkit-transition: top .2s ease;
       -moz-transition: top .2s ease;
        -ms-transition: top .2s ease;
         -o-transition: top .2s ease;
            transition: top .2s ease;
  }
  @-o-keyframes logo-anim {
    0% {
      top: 0;
    }
    100% {
      top: 26px;
    }
  }
  @-webkit-keyframes logo-anim {
    0% {
      top: 0;
    }
    100% {
      top: 26px;
    }
  }
  @-moz-keyframes logo-anim {
    0% {
      top: 0;
    }
    100% {
      top: 26px;
    }
  }
  @keyframes logo-anim {
    0% {
      top: 0;
    }
    100% {
      top: 26px;
    }
  }
  .page-main .logo {
    top: 0;
    -webkit-animation: none;
       -moz-animation: none;
         -o-animation: none;
            animation: none;
  }
  .header:hover .logo {
    top: 0;
  }
}

.sidebar {
  margin-bottom: 20px;
}

.sidebar a {
  display: block;
  padding: 7px 20px;
  color: #ffffff;
  text-decoration: none;
  background-color: #97afdd;
  border-bottom: #7091d1 solid 1px;
}

.sidebar a:hover {
  background: #7091d1;
}

.sidebar_show ~ nav,
.sidebar_show ~ ul {
  display: none;
}

.sidebar_show.__active {
  display: none;
}

.sidebar_show.__active ~ nav,
.sidebar_show.__active ~ ul {
  display: block;
}

@media all and (min-width: 990px) {
  .sidebar {
    position: fixed;
    top: 85px;
    bottom: 62px;
    left: 50%;
    width: 180px;
    padding: 10px;
    margin-bottom: 0;
    margin-left: 350px;
    overflow: auto;
    -webkit-border-radius: 0 5px 5px 0;
       -moz-border-radius: 0 5px 5px 0;
            border-radius: 0 5px 5px 0;
  }
  @-o-keyframes nav-anim {
    0% {
      margin-left: 175px;
    }
    100% {
      margin-left: 350px;
    }
  }
  @-webkit-keyframes nav-anim {
    0% {
      margin-left: 175px;
    }
    100% {
      margin-left: 350px;
    }
  }
  @-moz-keyframes nav-anim {
    0% {
      margin-left: 175px;
    }
    100% {
      margin-left: 350px;
    }
  }
  @keyframes nav-anim {
    0% {
      margin-left: 175px;
    }
    100% {
      margin-left: 350px;
    }
  }
  .page-main .sidebar {
    -webkit-animation: nav-anim 1s ease;
       -moz-animation: nav-anim 1s ease;
         -o-animation: nav-anim 1s ease;
            animation: nav-anim 1s ease;
  }
  .not-main .sidebar {
    -webkit-animation: none;
       -moz-animation: none;
         -o-animation: none;
            animation: none;
  }
  .sidebar .sidebar_show {
    display: none;
  }
  .sidebar_show ~ nav,
  .sidebar_show ~ ul {
    display: block;
  }
}

.sidebar .navigation {
  list-style: none;
}

@media all and (min-width: 990px) {
  .sidebar .navigation {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  }
}

@media all and (min-width: 990px) {
  .sidebar .navigation a {
    display: inline-block;
    *display: inline;
    padding: 4px 30px;
    margin-bottom: 3px;
    margin-left: -15px;
    font-size: 16px;
    color: #333333;
    text-decoration: none;
    background: none;
    border-bottom: none;
    -webkit-border-radius: 0 5px 5px 0;
       -moz-border-radius: 0 5px 5px 0;
            border-radius: 0 5px 5px 0;
    *zoom: 1;
    -webkit-transition: background-color, width 0.2s linear;
       -moz-transition: background-color, width 0.2s linear;
        -ms-transition: background-color, width 0.2s linear;
         -o-transition: background-color, width 0.2s linear;
            transition: background-color, width 0.2s linear;
  }
  .sidebar .navigation a:hover {
    text-decoration: underline;
    background: none;
  }
  .sidebar .navigation_icons {
    padding: 4px 30px;
    margin-top: 0;
    margin-bottom: 3px;
    margin-left: -15px;
  }
  .sidebar .navigation li:nth-child(1) a {
    width: 75%;
    color: #ffffff;
    background-color: #ff6d33;
  }
  .sidebar .navigation li:nth-child(1) a:hover {
    width: 77%;
    background-color: #ff4900;
  }
  .sidebar .navigation li:nth-child(2) a {
    width: 69%;
    color: #ffffff;
    background-color: #ffb933;
  }
  .sidebar .navigation li:nth-child(2) a:hover {
    width: 71%;
    background-color: #ffa700;
  }
  .sidebar .navigation li:nth-child(3) a {
    width: 63%;
    color: #ffffff;
    background-color: #355ba6;
  }
  .sidebar .navigation li:nth-child(3) a:hover {
    width: 65%;
    background-color: #29467f;
  }
}

@media all and (min-width: 990px) {
  .promote {
    padding-top: 10px;
    border-top: #cccccc dotted 1px;
  }
  .promote li {
    margin-bottom: 10px;
  }
  .promote a {
    display: inline;
    padding: 0;
    font-size: 13px;
    color: #666666;
    background-color: transparent;
    border: none;
  }
  .promote a:hover {
    text-decoration: underline;
    background: none;
  }
}

.search {
  padding-right: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.search_input {
  width: 100%;
  padding: 5px 0 5px 10px;
  font-size: 12px;
  border: solid 1px #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

@media all and (min-width: 990px) {
  .search_input {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  }
}

@media all and (min-width: 990px) {
  .search {
    margin-right: 0;
    margin-left: 3px;
  }
}

.search_results {
  margin-bottom: 1em;
  font-size: 18px;
}

.main {
  min-height: 300px;
  padding: 20px;
  margin-bottom: 62px;
  background-color: #ffffff;
}

@media all and (min-width: 990px) {
  .main {
    position: relative;
    margin-right: 200px;
    margin-left: 50px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
  }
  .main:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border: solid 1px #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    content: "";
    -webkit-box-shadow: 0 0 10px 1px #e5e5e5;
       -moz-box-shadow: 0 0 10px 1px #e5e5e5;
            box-shadow: 0 0 10px 1px #e5e5e5;
  }
}

.post {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 25px;
  border-bottom: dotted #cccccc 1px;
}

.post blockquote {
  position: relative;
  margin: 1em 4%;
  font-size: 16px;
  font-style: italic;
}

@media all and (min-width: 990px) {
  .post blockquote {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  }
}

@media all and (min-width: 990px) {
  .post blockquote {
    margin-right: 8%;
    margin-left: 8%;
  }
  .post blockquote .blockqoute_quotes {
    position: absolute;
    font-size: 30px;
    color: #999999;
  }
  .post blockquote:before {
    position: absolute;
    top: -0.3em;
    right: 100%;
    padding-right: .1em;
    margin-right: .5em;
    font-size: 30px;
    color: #999999;
    content: "❝";
  }
  .post blockquote:before.post_content_from-twitter {
    display: none;
  }
  .post blockquote:after {
    position: absolute;
    bottom: -0.5em;
    left: 100%;
    padding-right: .1em;
    font-size: 30px;
    color: #999999;
    content: "❞";
  }
}

@media all and (min-width: 990px) {
  .post__quote .from-twitter {
    position: absolute;
    top: 0;
    left: 1%;
    color: #999999;
    text-decoration: none;
    -webkit-transition: color .2s ease;
       -moz-transition: color .2s ease;
        -ms-transition: color .2s ease;
         -o-transition: color .2s ease;
            transition: color .2s ease;
  }
  .post__quote .from-twitter:hover {
    color: #666666;
  }
  .post__quote .from-twitter:before {
    font-family: 'fontello';
    font-size: 2em;
    content: "";
  }
  .post__quote .from-twitter span {
    display: none;
  }
  .post__quote .from-twitter + blockquote:before,
  .post__quote .from-twitter + blockquote:after {
    display: none;
  }
}

.post_header {
  position: relative;
  margin-bottom: 5px;
}

.post_title {
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: 400;
}

@media all and (min-width: 990px) {
  .post_title {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  }
}

.post_title a {
  color: #333333;
  text-decoration: none;
}

.post_title a:hover {
  text-decoration: underline;
}

.post_date {
  margin-bottom: 10px;
  font-size: 13px;
  color: #666666;
}

@media all and (min-width: 990px) {
  .post_date {
    position: absolute;
    top: 0;
    right: 100%;
    width: 40px;
    padding: 5px;
    margin-right: 20px;
    font-size: 10px;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    background-color: #4a73c4;
    -webkit-border-radius: 5px 0 0 5px;
       -moz-border-radius: 5px 0 0 5px;
            border-radius: 5px 0 0 5px;
    -webkit-transition: background-color 0.2s linear;
       -moz-transition: background-color 0.2s linear;
        -ms-transition: background-color 0.2s linear;
         -o-transition: background-color 0.2s linear;
            transition: background-color 0.2s linear;
  }
  .post_date_day {
    display: block;
    font-size: 18px;
  }
  .post_date_day_delim {
    display: none;
  }
  .permalink .post_date,
  .post:hover .post_date {
    background-color: #29467f;
  }
}

.post_content {
  min-height: 3em;
  line-height: 1.5;
}

.post_content p {
  margin: 1em 0;
}

.post_content ul {
  margin-left: 2em;
}

.post_content img {
  max-width: 100%;
}

@media all and (min-width: 990px) {
  .post_content h2,
  .post_content h3,
  .post_content h4,
  .post_content h5,
  .post_content h6 {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  }
}

.post_content h2 {
  position: relative;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  font-size: 21px;
  font-weight: 400;
}

.post_content h2:before {
  position: absolute;
  top: 0.2em;
  left: -20px;
  width: 6.666666666666667px;
  height: 1em;
  background: #ffdc99;
  border-radius: 0 5px 5px 0;
  content: '';
}

.post_content h3 {
  position: relative;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  font-size: 19px;
  font-weight: 400;
}

.post_content h3:before {
  position: absolute;
  top: 0.2em;
  left: -20px;
  width: 6.666666666666667px;
  height: 1em;
  background: #7091d1;
  border-radius: 0 5px 5px 0;
  content: '';
}

.post_content h4,
.post_content h5,
.post_content h6 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 15px;
}

.post_content_info {
  position: relative;
  margin: 0 4%;
  font-size: 12px;
}

@media all and (min-width: 990px) {
  .post_content_info {
    margin: 0 8%;
  }
}

.post_video {
  position: relative;
  margin-bottom: .5em;
}

.post_video_placeholder {
  position: relative;
  z-index: -1;
  display: block;
  min-width: 100%;
}

.post_video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.post_info {
  position: relative;
  margin-top: 15px;
  font-size: 12px;
  *zoom: 1;
}

.post_info:before,
.post_info:after {
  display: block;
  height: 0;
  content: "\0020";
  visibility: hidden;
}

.post_info:after {
  clear: both;
}

.post_tags {
  padding: 0;
  list-style: none;
}

.post_tags li {
  display: inline-block;
  *display: inline;
  margin-right: 7px;
  margin-bottom: 5px;
  *zoom: 1;
}

.post_tags a {
  position: relative;
  display: inline-block;
  *display: inline;
  padding: 2px 5px 1px 15px;
  font-size: 9px;
  line-height: 1;
  color: #333333;
  text-decoration: none;
  text-transform: uppercase;
  background: #ffedcc;
  -webkit-border-radius: 50em 2px 2px 50em;
     -moz-border-radius: 50em 2px 2px 50em;
          border-radius: 50em 2px 2px 50em;
  *zoom: 1;
  -webkit-transition: background-color 0.2s ease;
     -moz-transition: background-color 0.2s ease;
      -ms-transition: background-color 0.2s ease;
       -o-transition: background-color 0.2s ease;
          transition: background-color 0.2s ease;
}

.permalink .post_tags a,
.post:hover .post_tags a {
  background: #ffdc99;
}

.post .post_tags a:hover {
  background: #ffca66 !important;
}

.post_tags a:after {
  position: absolute;
  top: 3px;
  left: 5px;
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  -webkit-border-radius: 50em;
     -moz-border-radius: 50em;
          border-radius: 50em;
  content: '';
}

.post_comments {
  float: right;
}

.post_comments:before {
  content: 'Комментировать';
}

@media all and (min-width: 990px) {
  .post_comments {
    color: #cccccc;
    text-decoration: none;
    -webkit-transition: color .2s ease;
       -moz-transition: color .2s ease;
        -ms-transition: color .2s ease;
         -o-transition: color .2s ease;
            transition: color .2s ease;
  }
  .post:hover .post_comments {
    color: #999999;
  }
  .post .post_comments:hover {
    color: #000000;
  }
  .post_comments:before {
    font-family: 'fontello';
    font-size: 1.1em;
    content: ' ';
  }
}

.post_likes {
  float: right;
  margin-top: -3px;
  margin-left: 10px;
}

.pagination {
  margin: 10px;
  overflow: hidden;
}

.pagination a {
  color: #b33300;
}

.pagination a:hover {
  color: #ff6d33;
}

.pagination .older {
  float: left;
}

.pagination .newer {
  float: right;
}

.footer {
  position: relative;
  padding: 5px;
  margin-top: -22px;
  font-size: 10px;
  color: #999999;
  background: #333333;
}

.footer a {
  color: #999999;
}

/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprint. */

.pln {
  color: #000000;
}

/* plain text */

@media screen {
  {
    /* string content */
  
    /* a keyword */
  
    /* a comment */
  
    /* a type name */
  
    /* a literal value */
  
    /* punctuation, lisp open bracket, lisp close bracket */
  
    /* a markup tag name */
  
    /* a markup attribute name */
  
    /* a markup attribute value */
  
    /* a declaration; a variable name */
  
    /* a function name */
  
  }
  .str {
    color: #008800;
  }
  .kwd {
    color: #000088;
  }
  .com {
    color: #880000;
  }
  .typ {
    color: #660066;
  }
  .lit {
    color: #006666;
  }
  .pun,
  .opn,
  .clo {
    color: #666600;
  }
  .tag {
    color: #000088;
  }
  .atn {
    color: #660066;
  }
  .atv {
    color: #008800;
  }
  .dec,
  .var {
    color: #660066;
  }
  .fun {
    color: #ff0000;
  }
}

/* Use higher contrast and text-weight for printable form. */

@media print, projection {
  .str {
    color: #006600;
  }
  .kwd {
    font-weight: bold;
    color: #006;
  }
  .com {
    font-style: italic;
    color: #600;
  }
  .typ {
    font-weight: bold;
    color: #404;
  }
  .lit {
    color: #004444;
  }
  .pun,
  .opn,
  .clo {
    color: #444400;
  }
  .tag {
    font-weight: bold;
    color: #006;
  }
  .atn {
    color: #440044;
  }
  .atv {
    color: #006600;
  }
}

/* Put a border around prettyprinted code snippets. */

pre.prettyprint {
  padding: 2px;
  border: 1px solid #e5e5e5;
}

/* Specify class=linenums on a pre to get line numbering */

ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/* IE indents via margin-left */

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
}

/* Alternate shading for lines */

li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background: #eeeeee;
}
